@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background: #fff;
}

.main {
  background: #F7FAFC;
  padding-top: 20px;
  height: 100vh;
}

/* ===========================
MAIN SECTION */

.section-main {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  max-width: calc(100vw - 18%);
  margin: 0 auto;
  border: 1px solid #DEE2E7;
  border-radius: 6px;
  background: #fff;
  padding: 20px;
}

/* ===============================
MENU */

.section-main__menu {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.section-main__menu_item {
  font-size: 16px;
  padding: 10px;
  color: #505050;
}

.section-main__menu_item.active,  .section-main__menu_item:hover {
  color: #1C1C1C;
  font-weight: 500;
  background: #E5F1FF;
  border-radius: 6px;
}

.section-main__menu_item:hover {
  cursor: pointer;
}

/* ===========================
BANNER */

.banner {
  background: url('../img/main_page/banner/banner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 324px;
  width: 660px;
  color: #1C1C1C;
  padding-top: 60px;
  padding-left: 46px;
}

.banner a {
  text-decoration: none;
  color:#1C1C1C;
}

.banner h2 {
  font-size: 28px;
}

.banner h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.banner a {
  background: #fff;
  box-shadow: 0px 1px 2px rgba(56, 56, 56, 0.08);
  border-radius: 6px;
  padding: 10px 16px;
  font-weight: 500;
  font-size: 16px;
}

/* ==============================
LEFT SECTION */

.authorization {
  background: #E3F0FF;
  border-radius: 6px;
  max-width: 200px;
  padding-top: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 12px;
}

.authorization__header {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-right: 15px;
  margin-bottom: 13px;
}

.authorization__reg {
  background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
  border-radius: 6px;
  border: none;
  color: #fff;
  padding: 8px 60px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  width: 200px;
  margin-bottom: 7px;
}

.authorization__log {
  background: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #DEE2E7;
  color: #0D6EFD;
  padding: 8px 60px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  width: 200px;
}

.saler {
  padding: 16px;
  max-width: 188px;
  background: #F38332;
  border-radius: 6px;
  margin: 18px 0;
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.saler p {
  max-width: 144px;
}

.quote {
  padding: 16px;
  max-width: 188px;
  background: #55BDC4;
  border-radius: 6px;
  color: white;
  font-size: 20px;
}

.quote p {
  max-width: 144px;
}

/* ======================================
ADAPTIVE */

@media (max-width: 950px) {
  .section-main__menu {
    display: none;
  }
  .section-main__left {
    display: none;
  }
  .section-main {
    border: none;
    max-width: none;
    padding: 0;
  }
  .main {
    padding-top: 0;
  }
}

@media (max-width: 700px) {
  .banner {
  height: 230px;
  }
}

/* =============================
SECTION SALE */

.section-sale {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  max-width: calc(100vw - 18%);
  margin: 0 auto;
  border: 1px solid #DEE2E7;
  border-radius: 6px;
  background: #fff;
  margin-top: 10px;
}

.countdown {
  margin-top: 10px;
}

.countdown__time_time {
  background: #606060;
  border-radius: 4px;
  width: 45px;
  height: 50px;
  text-align: center;
  color: #fff;
  padding: 8px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.countdown__time_time b {
  font-weight: 700;
  margin-bottom: 2px;
}

.countdown__time {
  display: flex;
  gap: 8px;
}

.section-sale__cards {
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.section-sale__cards::-webkit-scrollbar {
  display: none; /* для скрытия полосы прокрутки в браузерах на основе WebKit */
}

.section-sale__cards_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 28px 25px 17px;
  border-right: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  height: 100%;
  flex: 0 0 auto;
}

.section-sale__cards_card h3 {
  margin: 35px 0 7px;
  text-align: center;
}

.sale {
  color: #EB001B;
  background: #FFE3E3;
  border-radius: 30px;
  padding: 5px 13px;
  font-weight: 500;
  margin: 18px 0;
}

.divImg {
  width: 120px;
  height: 120px;
}