@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background: #fff;
}

.none {
  display: none !important;
}

/* =============================================
HEADER */

.header {
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
}

.header__dropdown {
  display: none;
}

.header__buttons {
  display: flex;
  gap: 30px;
}

.header__buttons_btn div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__input {
  display: flex;
}

.header__input_text-input {
  width: 450px;
  height: 40px;
  border-bottom: 3px solid #0D6EFD;
  border-top: 3px solid #0D6EFD;
  border-left: 3px solid #0D6EFD;
  border-right: 1px solid #0D6EFD;
  border-radius: 10px 0 0 10px;
  font-size: 18px;
  border-radius: 0;
  font-family: 'Inter', sans-serif;
  padding-left: 20px;
}

.header__input_select {
  border-bottom: 3px solid #0D6EFD;
  border-top: 3px solid #0D6EFD;
  border-left: 1px solid #0D6EFD;
  border-right: 1px solid #0D6EFD;
  font-family: 'Inter', sans-serif; 
  font-size: 16px;
  padding: 0 10px;
  -webkit-appearance: none;
}

.header__input_btn {
  font-family: 'Inter', sans-serif; 
  background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
  border: none;
  color: #fff;
  font-size: 16px; 
  border-radius: 0 10px 10px 0;
}

.header__buttons_btn div img {
  width: 30px;
  height: 30px;
  margin-bottom: 6px;
}

.header__buttons_btn {
  color: #8B96A5;
  text-decoration: none;
}


/* ====================================
DROPDOWN */

.header__dropdown {
  position: relative;
  display: none;
}

.header__dropdown_dropbtn {
  font-family: 'Inter', sans-serif; 
  background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}

.header__dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 130%;
  max-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  float: left;
}

.header__dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header__dropdown-content a:hover {background-color: #ddd;}

.header__dropdown:hover .header__dropdown-content {display: block;}

.header__dropdown:hover .header__dropdown_dropbtn {background-color: #3e8e41;}



/* =================================
SIDEBAR */

.header__mobile {
  display: none;
  width: 100%;
  justify-content: space-around;
  align-items: center;
} 

.sidebar {
  height: 100%;
  width: 75%;
  display: none;
}

.sidebar__header div a {
  font-family: 'Inter', sans-serif;
  color: #000;
  text-decoration: none;
}

.sidebar__header {
  background: #EFF2F4;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.sidebar__header img {
  display: block;
  width: 75px;
  margin-bottom: 20px;
}

.sidebar__nav {
  padding-left: 30px;
  padding-top: 20px;
  background: #fff;
  height: 100vh;
}

.sidebar__nav_item {
  display: flex;
  align-items: center;
  height: 48px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.sidebar__nav_item:hover {
  cursor: pointer;
  background: #ddd;
}
.sidebar__nav_item:first-child {
  margin-top: 10px;
}

.sidebar__nav_item:nth-child(4) {
  margin-bottom: 20px;
}

.sidebar__nav_item span {
  margin-top: 4px;
  font-size: 20px;
  margin-left: 16px;
}

.mobile-icons {
  display: flex;
  gap: 30px;
}

.burger:hover {
  cursor: pointer;
}

/* ====================================
FOOTER */

.footer {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  padding: 20px 0;
}

.footer__socials {
  max-width: 300px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.4;
  color: #505050;
}

.footer__socials p {
  margin: 12px 0 20px;
}

.socials {
  display: flex;
  gap: 14px;
}

.footer__cols {
  display: flex;
  gap: 60px;
}

.footer__cols_col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

.footer__cols_col span{
  color: #8B96A5;
}

.footer__cols_col h4{
  font-weight: 500;
  margin-bottom: 7px;
}

.footer__getapp {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 14px;
}

.footer__getapp h4 {
  margin-bottom: 10px;
  font-weight: 500;
}



/* ================================
FOOTER BOTTOM */

.footer__bottom {
  height: 70px;
  background: #DEE2E7;
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: space-between;
  padding: 0 130px;
}

.footer__bottom_lang {
  display: flex;
  gap: 6px;
}

.language-dropdown_content {
  position: absolute;
  width: 100px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 10px;
  display: none;
}

.language-dropdown_content span {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

.footer__bottom_lang .current-lang {
  cursor: pointer;
}

.language-dropdown_content.show {
  display: block;
  bottom: 7%;
}

.language-dropdown_content.show span {
  opacity: 1;
  margin-top: 10px;
}

.language-dropdown_content.show span:hover {
  background: #aaa;
}

.language-dropdown_content.show span:first-child {
  margin-top: 0;
}



/* =========================
ADAPTIVE */


@media screen and (max-width: 1200px) {
  .header__input_text-input {
    width: 300px;
  }
  .header__buttons_btn div img {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
  }
  .header__buttons_btn div span{
    font-size: 15px;
  }
  .header__buttons {
    gap: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .header__dropdown {
    display: inline-block;
  }

  .header__logo {
    margin-left: -10px;
  }

  .header__dropdown {
    margin-right: 30px;
  }

  .header__input {
    margin-right: 20px;
  }

  .header__buttons {
    display: none;
  }
}


@media screen and (max-width: 850px) {
  .header__input_text-input {
    width: 200px;
  }
}

@media screen and (max-width: 870px) {
  .footer__cols {
    gap: 30px;
  }
  .footer__cols_col {
    font-size: 15px ;
  }
  .footer__getapp {
    font-size: 15px ;
  }
  .footer__getapp img {
    width: 100px ;
  }
  .footer__socials {
    width: 220px ;
    font-size: 16px ;
  }
  .footer__socials .soc-svg{
    width: 35px ;
  }
  .footer {
    flex-direction: column;
    gap: 50px
  }
}

@media (max-width: 768px) {
    .header {
      justify-content: center;
    }
    .header__logo {
      display: none;
    }
    .header__input {
      display: none;
    }
    .header__buttons {
      display: none;
    }
    .header__dropdown {
      display: none;
    }
    .header__mobile {
      display: flex;
    }
    .footer {
      display: none ;
    }
    .footer__bottom {
      display: none ;
    }
}

@media (min-width: 769px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 1050px) {
  .footer__cols {
    gap: 40px ;
  }
  .footer__cols_col {
    font-size: 16px ;
  }
  .footer__getapp {
    font-size: 16px ;
  }
  .footer__getapp img {
    width: 100px ;
  }
  .footer__socials {
    width: 250px ;
    font-size: 16px ;
  }
  .footer__socials .soc-svg{
    width: 35px ;
  }
}

@media (max-width: 820px) {
  .footer__cols {
    gap: 30px ;
  }
}

